h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	font-family: $font__titles;
	background-color: $color-primary-0;
}

.home-section-title{
	width: 100%;
	margin: 0;
	position: absolute;
	z-index: 1;
}

.to-the-right{
	text-align: right;
	padding-right: 10px;
}
