button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid $color__border-button;
	color: #fff;
	background: $color__button;
	padding: 15px 100px;
  margin:10px 4px;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  text-decoration: none;
  display:inline-block;
	box-shadow: inset 0 0 0 0 $color__button-hover;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;

	&:hover {
		border-color: $color__button-hover;
		background: $color__button-hover;
		box-shadow: inset 0 0 0 50px $color__button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}
