.site {
	display: grid;
	grid-template-columns: 10% auto ($size__site-sidebar) 10%;
	grid-template-areas:
		". header header ."
		". main sidebar ."
		". footer footer .";
}

.site-header {
	grid-area: header;
	background-color: $color-primary-0;
}

.site-main {
	grid-area: main;
	overflow: hidden; /* Resolves issue with <pre> elements forcing full width. */
}

.widget-area {
	grid-area: sidebar;
}

.site-footer {
	grid-area: footer;
}

.site-branding {
	width: fit-content;
	margin-left: 50px;
	//margin-right: auto;
	a {
		color: $color__background-body;
	}
}

@import "no-sidebar";
