.site {
	display: grid;
	grid-template-columns: 15% auto 15%;
	grid-template-areas:
		"header header header"
		". main ."
		"footer footer footer";
}

.site-header {
	grid-area: header;
	background-color: $color-primary-0;
  position: fixed;
	width: 100%;
	height: $size__site-header;
	box-shadow: 0px 0px 10px $color-primary-1;
}

.site-main {
	padding-top: $size__site-header;
	grid-area: main;
	overflow: hidden; /* Resolves issue with <pre> elements forcing full width. */
}

.site-footer {
	grid-area: footer;
}

.site-branding {
	width: fit-content;
	margin-left: 50px;
	//margin-right: auto;
	a {
		color: $color__background-body;
	}
}
