$color-primary-0: #DC143B;
$color-primary-1: #F57A92;
$color-primary-2: #EE4869;
$color-primary-3: #9D0724;
$color-primary-4: #590011;

// I know where these are used
$color__background-body: #202020;
$color__background-input: #303030;

$color__text-main: #fff;
$color__text-header: $color-primary-4;
$color__text-input: #bbb; //texto en el input cuando el foco está en otro lado
$color__text-input-focus: #fff; //texto en el input cuando el foco está en el mismo input

$color__border-input: #101010;

$color__link: $color__text-main;
$color__link-visited: $color__text-main;
$color__link-hover: $color-primary-0;

// preformated text
$color__background-pre: #bbb;
$color__text-pre: #000;

// I don't know where these are used
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-ins: #fff9c0;
$color__text-screen: #FF0000;


$color__button: transparent;
$color__button-hover: $color-primary-0;
$color__border-button: $color-primary-0;

$color__border-abbr: #666;
